/best.pt
/coibaochay.mp3
/main.build
/main.dist
/nhan-dien-duoi-nuoc
/runs
/test
/testcam.py
/testgpu.py
/train
/train.py
/valid
/videomau1.mp4
/videomau2.mp4
/videomau3.mp4
/videomau4.mp4
/yolo26n.pt
/yolov8n.pt